<?xml version="1.0" encoding="UTF-8"?>
<!--
https://www.w3schools.com/xml/xpath_intro.asp
https://www.countryflags.com/en/italy-flag-icon.html
Brands -> Son las marcas por defecto, donde se buscará en los nombres de los
productos. Si no encuentra ninguna de estas (los equivalentes) entonces pone como
marca el que esté por defecto en el tag <page name="MARCA">. Además elimina la
marca del nombre si la encuentra.
find->product ACABAR EN UN DIV
find->name ACABAR EN UN ELEMENT (NO DIV, ARTICLE, PAGE)
find->price ACABAR EN UN ELEMENT
find->uri ACABAR EN UN ANCHOR
find->special ACABAR EN UN ELEMENT (NO DIV, ARTICLE, PAGE)
Existe la posibilidad de usar dentro de shop el tag <pricePlus>1.21</pricePlus> para añadir
un multiplo al precio por si la tienda pone el producto sin iva por ejemplo.
-->


<root> 
    <brand>
        <name>ANGOLO DELLA GUANCIA</name>
        <equals>Angolo della Guancia</equals>        
        <equals>Angolo dela Guancia</equals>
        <equals>Angolo Della Guancia</equals>
        <equals>ADG</equals>
        <website>https://www.angolodellaguancia.it/</website>
        <percent>12%</percent>
        <collection>
            <product name="Mandingo">
                <percent>10%</percent>
                <youtubeReview>https://youtu.be/TkGWd9bircA</youtubeReview>
                <youtubeReview>https://youtu.be/rHH4F2tf6q4</youtubeReview>
            </product>
            <product name="3 Di Quadri">
                <youtubeReview>https://youtu.be/80_N0ar4U2w</youtubeReview>
            </product>
            <product name="9 Di Picche">
                <youtubeReview>https://youtu.be/iHSoYWQPeT8</youtubeReview>
                <youtubeReview>https://youtu.be/FpBWuRv2J5s</youtubeReview>
            </product>
            <product name="Mr Jack">
                <youtubeReview>https://youtu.be/5kN4n_7HQIs</youtubeReview>
                <youtubeReview>https://youtu.be/SeoWDHpIzhE</youtubeReview>
                <youtubeReview>https://youtu.be/F-pzG5OaPYE</youtubeReview>
            </product>
            <product name="Pueblo">
                <youtubeReview>https://youtu.be/z0zmD5510Mc</youtubeReview>
            </product>
            <product name="Cigarette 1">
                <youtubeReview>https://youtu.be/z0zmD5510Mc</youtubeReview>
            </product>
            <product name="Eden">
                <youtubeReview>https://youtu.be/REcrHBA7qU0</youtubeReview>
            </product>
            <product name="Reserve Cafe">
                <youtubeReview>https://youtu.be/REcrHBA7qU0</youtubeReview>
            </product>
            <product name="Virginia Plus">
                <youtubeReview>https://youtu.be/2War6PUb6Vo</youtubeReview>
            </product>
            <product name="Double">
                <youtubeReview>https://youtu.be/2War6PUb6Vo</youtubeReview>
            </product>
        </collection>
    </brand>
    <brand>
        <name>AZHAD´S ELIXIRS</name>
        <equals>Azhad´s Elixir</equals>
        <equals>Azhad’s Elixirs</equals>
        <equals>AZHAD’S ELIXIRS</equals>
        <equals>Azhad's Elixirs</equals>
        <equals>Azhad Elixirs</equals>
        <equals>AZHAD´S ELIXIR</equals>
        <equals>AZHAD´S ELIXIRS</equals>
        <equals>Azhad's Elixir</equals>
        <equals>Azhad</equals>
        <website>https://www.azhadelixirs.it/</website>
        <percent>12%</percent>
        <collection>
            <product name="Bahamas">
                <youtubeReview>https://youtu.be/lyi54BsQ0ig</youtubeReview>
                <youtubeReview>https://youtu.be/HGbQ5BbVKR0</youtubeReview>
            </product>
            <product name="Dark Bite">
                <youtubeReview>https://youtu.be/Zc4Ry8Qs130</youtubeReview>
            </product>
            <product name="East Granate">
                <youtubeReview>https://youtu.be/Ni0QBrBymmA</youtubeReview>
            </product>
            <product name="Etrusco">
                <youtubeReview>https://youtu.be/Q9J9oRqA13k</youtubeReview>
            </product>
            <product name="Contrappunto">
                <youtubeReview>https://youtu.be/ka65ufJG2aw</youtubeReview>
                <youtubeReview>https://youtu.be/-JRVobYdDWE</youtubeReview>
            </product>
            <product name="Old Times">
                <youtubeReview>https://youtu.be/PEUtN-1a5X8</youtubeReview>
                <youtubeReview>https://youtu.be/426LbHSq2iA</youtubeReview>
            </product>
            <product name="Turkish Extradry">
                <youtubeReview>https://youtu.be/SeoWDHpIzhE</youtubeReview>
            </product>
            <product name="Gold America">
                <youtubeReview>https://youtu.be/426LbHSq2iA</youtubeReview>
            </product>
        </collection>        
    </brand>
    <brand>
        <name>BLENDFEEL</name>
        <equals>BLENDFEEL</equals>
        <website>https://blendfeel.com/es-ES/index_es.html</website>
        <percent>10%</percent>
        <collection>
            <product name="Latakia Raw">
                <youtubeReview>https://youtu.be/61QKSkztqck</youtubeReview>
            </product>
            <product name="Bodeguita">
                <youtubeReview>https://youtu.be/-rC5mudqm4A</youtubeReview>
                <youtubeReview>https://youtu.be/YuNe_l5zwco</youtubeReview>
            </product>
            <product name="Pepper Farm">
                <youtubeReview>https://youtu.be/46vPgM1Zduk</youtubeReview>
            </product>
            <product name="Irish Black">
                <youtubeReview>https://youtu.be/INIF7fdN7yM</youtubeReview>
                <youtubeReview>https://youtu.be/003xkxImZ1w</youtubeReview>
                <youtubeReview>https://youtu.be/w26GVnnIoGg</youtubeReview>
            </product>
            <product name="Hell\'s key">
                <youtubeReview>https://youtu.be/INIF7fdN7yM</youtubeReview>
                <youtubeReview>https://youtu.be/6vyijVeB9Vs</youtubeReview>
            </product>
            <product name="Silk Road">
                <youtubeReview>https://youtu.be/Q-2vg8sX5QA</youtubeReview>
            </product>
            <product name="Tuscan Blend">
                <youtubeReview>https://youtu.be/0WrTRhWYoMc</youtubeReview>
                <youtubeReview>https://youtu.be/Wug-8uhjiEM</youtubeReview>
            </product>
            <product name="Habanos Grand Reserve">
                <youtubeReview>https://youtu.be/vFLKtp6xYkE</youtubeReview>
                <youtubeReview>https://youtu.be/0ZTXvbFP2mM</youtubeReview>
            </product>
            <product name="Cuban Blend">
                <youtubeReview>https://youtu.be/1DZ1XhoKCJI</youtubeReview>
            </product>
            <product name="Burlesque">
                <youtubeReview>https://youtu.be/-mxDMMLhkZw</youtubeReview>
            </product>
            <product name="Besuki Raw">
                <youtubeReview>https://youtu.be/ubsNp9ic2G8</youtubeReview>
            </product>
            <product name="Kentucky Reserve">
                <youtubeReview>https://youtu.be/Wug-8uhjiEM</youtubeReview>
            </product>
            <product name="Borkum Black">
                <youtubeReview>https://youtu.be/M7SbG5vtr9I</youtubeReview>
            </product>
            <product name="Golden Cavendish">
                <youtubeReview>https://youtu.be/yYTGtZ8F6GY</youtubeReview>
            </product>
            <product name="Kentucky Raw">
                <youtubeReview>https://youtu.be/6vyijVeB9Vs</youtubeReview>
            </product>
        </collection>        

    </brand>
    <brand>
        <name>CLAMOUR VAPE</name>
        <equals>CLAMOUR VAPE</equals>
        <website>https://www.clamourvape.ch/</website>
        <percent>10%</percent>
        <collection>
            <product name="Better Vape Saul Original">
                <youtubeReview>https://youtu.be/kbl55rWxfLw</youtubeReview>
                <youtubeReview>https://youtu.be/YCTgb3llHTA</youtubeReview>
            </product>
            <product name="Better Vape Saul Pipe Experience">
                <youtubeReview>https://youtu.be/IGrwl0GDuGk</youtubeReview>
                <youtubeReview>https://youtu.be/oj1iaLRRzTc</youtubeReview>
            </product>
            <product name="Better Vape Saul Hello World">
                <youtubeReview>https://youtu.be/9yc54s95YzY</youtubeReview>
            </product>
            <product name="Highlands">
                <youtubeReview>https://youtu.be/HFB_jpSThSw</youtubeReview>
                <youtubeReview>https://youtu.be/qu7cPfOb4k4</youtubeReview>
                <youtubeReview>https://youtu.be/nK8jIISPdVA</youtubeReview>
            </product>
            <product name="Kentucky">
                <youtubeReview>https://youtu.be/MF8eXA1QwOs</youtubeReview>
            </product>
            <product name="Black Cavendish">
                <youtubeReview>https://youtu.be/CaoAkNUpU-g</youtubeReview>
                <youtubeReview>https://youtu.be/3RIFJ1xEloQ</youtubeReview>
            </product>
            <product name="Perique">
                <youtubeReview>https://youtu.be/79nq0dtlukg</youtubeReview>
                <youtubeReview>https://youtu.be/k20-vJEzRbY</youtubeReview>
            </product>
            <product name="Twelve">
                <youtubeReview>https://youtu.be/vq2OHwQKpIM</youtubeReview>
                <youtubeReview>https://youtu.be/K8VHG9_xPkI</youtubeReview>
            </product>
        </collection>         
    </brand>
    <brand>
        <name>LA TABACCHERIA</name>
        <equals>LA TABACCHERIA</equals>
        <equals>La Tabacchedria</equals>
        <website>https://www.latabaccheria.net/en/</website>
        <percent>5%-10%</percent>
        <collection>
            <product name="Kentucky USA">
                <youtubeReview>https://youtu.be/IYxP_f18k4k</youtubeReview>
            </product>
            <product name="Kentucky">
                <youtubeReview>https://youtu.be/IJAWBRc4Dxg</youtubeReview>
                <youtubeReview>https://youtu.be/evt_ACSQJjE</youtubeReview>
                <youtubeReview>https://youtu.be/Zljttan-GUs</youtubeReview>
            </product>
            <product name="Black Cavendish">
                <youtubeReview>https://youtu.be/6Szu_1GiRbs</youtubeReview>
                <youtubeReview>https://youtu.be/bNgjaaQAsbY</youtubeReview>
                <youtubeReview>https://youtu.be/VHeRbe8MnuY</youtubeReview>
            </product>
            <product name="Latakia">
                <youtubeReview>https://youtu.be/SntEkl8y2gs</youtubeReview>
                <youtubeReview>https://youtu.be/2qX4UERFO2Q</youtubeReview>
                <youtubeReview>https://youtu.be/6tnj9L_7v8g</youtubeReview>
                <youtubeReview>https://youtu.be/VK953SVgHQI</youtubeReview>
            </product>
            <product name="Perique">
                <youtubeReview>https://youtu.be/GMoY3I0-frs</youtubeReview>
                <youtubeReview>https://youtu.be/UvjsUtI4uOY</youtubeReview>
                <youtubeReview>https://youtu.be/vTJBmdYdSz8</youtubeReview>
            </product>
            <product name="Wild West">
                <youtubeReview>https://youtu.be/pmK2kFll3PE</youtubeReview>
                <youtubeReview>https://youtu.be/qu7cPfOb4k4</youtubeReview>
            </product>
            <product name="Piloto Cubano">
                <youtubeReview>https://youtu.be/q7nV8wpaYTg</youtubeReview>
                <youtubeReview>https://youtu.be/CoaNe9BSWdk</youtubeReview>
            </product>
            <product name="Re Nero">
                <youtubeReview>https://youtu.be/zdmeVAqXnYQ</youtubeReview>
                <youtubeReview>https://youtu.be/l3p8G6WION0</youtubeReview>
            </product>
            <product name="Mixture N1">
                <youtubeReview>https://youtu.be/JH2qj0SKqXA</youtubeReview>
                <youtubeReview>https://youtu.be/pjT7GSERADg</youtubeReview>
            </product>
            <product name="Mixture N2">
                <youtubeReview>https://youtu.be/h25-DK7ADmI</youtubeReview>
                <youtubeReview>https://youtu.be/0ZTXvbFP2mM</youtubeReview>
            </product>
            <product name="Mata Fina">
                <youtubeReview>https://youtu.be/rD2P7yXTFOQ</youtubeReview>
                <youtubeReview>https://youtu.be/dY5nHS0a0OE</youtubeReview>
                <youtubeReview>https://youtu.be/E6MpWGd0rvo</youtubeReview>
            </product>
            <product name="Maryland">
                <youtubeReview>https://youtu.be/OKzSxZO9yQQ</youtubeReview>
                <youtubeReview>https://youtu.be/T28R6CW5fBI</youtubeReview>
            </product>
            <product name="Il Sigaro Italiano">
                <youtubeReview>https://youtu.be/g9vkhzmO8SQ</youtubeReview>
                <youtubeReview>https://youtu.be/dOvLC9x7pXk</youtubeReview>
            </product>
            <product name="Black and Berries">
                <youtubeReview>https://youtu.be/neueGqY4h2g</youtubeReview>
            </product>
            <product name="Harmonium">
                <youtubeReview>https://youtu.be/VlCYRw1ENw0</youtubeReview>
                <youtubeReview>https://youtu.be/rBdLVNpQEaw</youtubeReview>
            </product>
            <product name="Baffometto">
                <youtubeReview>https://youtu.be/9xugHIxN4wk</youtubeReview>
            </product>
            <product name="American Blend">
                <youtubeReview>https://youtu.be/jo-deLwOWAM</youtubeReview>
                <youtubeReview>https://youtu.be/qPx2FCuqNVc</youtubeReview>
            </product>
            <product name="Balkan Sobranie 759">
                <youtubeReview>https://youtu.be/yKfHcFCnxKY</youtubeReview>
            </product>
            <product name="Basma">
                <youtubeReview>https://youtu.be/vJK1p3E7lr4</youtubeReview>
                <youtubeReview>https://youtu.be/fkS_A-uBw9k</youtubeReview>
                <youtubeReview>https://youtu.be/iM9PCEJnPoU</youtubeReview>
                <youtubeReview>https://youtu.be/hO-7Ugfn4TY</youtubeReview>
            </product>
            <product name="Burley">
                <youtubeReview>https://youtu.be/LgzljW1yC8g</youtubeReview>
                <youtubeReview>https://youtu.be/93_UIsyKE4Y</youtubeReview>
                <youtubeReview>https://youtu.be/tUWpSB3B8xY</youtubeReview>
            </product>
            <product name="Bezuki">
                <youtubeReview>https://youtu.be/2Ka3ltv1JC8</youtubeReview>
                <youtubeReview>https://youtu.be/4CT63ORYckc</youtubeReview>
            </product>
            <product name="Oriental">
                <youtubeReview>https://youtu.be/_b-BdJIw3FA</youtubeReview>
                <youtubeReview>https://youtu.be/oiD88m-PCyY</youtubeReview>
            </product>
            <product name="4 pod Black Cavendish">
                <youtubeReview>https://youtu.be/cSPhyuiBUk8</youtubeReview>
            </product>
            <product name="4 pod Latakia Evolution">
                <youtubeReview>https://youtu.be/HpgPbjIkjxQ</youtubeReview>
            </product>
            <product name="4 pod E-mint">
                <youtubeReview>https://youtu.be/8g3ZgivEbp4</youtubeReview>
                <youtubeReview>https://youtu.be/KlQTTxEeAI0</youtubeReview>
            </product>
            <product name="Mary\'s Pie">
                <youtubeReview>https://youtu.be/llNNzL5nSS0</youtubeReview>
            </product>
            <product name="4 pod Perique">
                <youtubeReview>https://youtu.be/A6MiPxnhlsE</youtubeReview>
            </product>
            <product name="English Mixture">
                <youtubeReview>https://youtu.be/LpY9VXOlThc</youtubeReview>
            </product>
            <product name="Assolo">
                <youtubeReview>https://youtu.be/AUaNFFckszs</youtubeReview>
            </product>
        </collection>        
    </brand>
    <brand>
        <name>THE VAPING GENTLEMEN CLUB</name>
        <equals>The Vaping Gentlemen Club</equals>
        <equals>TVGC</equals>
        <website>https://thevapinggentlemen.club/</website>
        <percent>10%</percent>
        <collection>
            <product name="Blizzard">
                <youtubeReview>https://youtu.be/NL7e60eLhzk</youtubeReview>
            </product>
            <product name="Sebastian">
                <youtubeReview>https://youtu.be/Iurx43YyTD8</youtubeReview>
                <youtubeReview>https://youtu.be/ocgiHyvfsI8</youtubeReview>
            </product>
            <product name="Fohn">
                <youtubeReview>https://youtu.be/oiyAWSEEmFc</youtubeReview>
            </product>
            <product name="Libeccio">
                <youtubeReview>https://youtu.be/t1hR_26Uz2M</youtubeReview>
            </product>
            <product name="Zefiro">
                <youtubeReview>https://youtu.be/fMUtO8lLDjg</youtubeReview>
            </product>
            <product name="Buran">
                <youtubeReview>https://youtu.be/kvmNMZihyL8</youtubeReview>
                <youtubeReview>https://youtu.be/RkkfUY2VbXM</youtubeReview>
            </product>
            <product name="Scirocco">
                <youtubeReview>https://youtu.be/bbi2thtoUWI</youtubeReview>
                <youtubeReview>https://youtu.be/3FPtXmD_zOY</youtubeReview>
            </product>
            <product name="Lord Claudiu">
                <youtubeReview>https://youtu.be/kgVevt9uQrA</youtubeReview>
                <youtubeReview>https://youtu.be/v3_A4Yf5cWA</youtubeReview>
            </product>
            <product name="Il Mazzei">
                <youtubeReview>https://youtu.be/n9wEdTqmSJo</youtubeReview>
            </product>
            <product name="Sacha">
                <youtubeReview>https://youtu.be/rPc_khoJp5c</youtubeReview>
                <youtubeReview>https://youtu.be/P-z6UtIbvFA</youtubeReview>
            </product>
            <product name="Ghibli">
                <youtubeReview>https://youtu.be/Cn18jTBxy_A</youtubeReview>
            </product>
            <product name="Chinook">
                <youtubeReview>https://youtu.be/wuJ83Fxut_o</youtubeReview>
            </product>
            <product name="Refined Perique">
                <youtubeReview>https://youtu.be/CqnVpgCA-Nw</youtubeReview>
            </product>
            <product name="Mistral">
                <youtubeReview>https://youtu.be/k2HlbEpl79w</youtubeReview>
            </product>
        </collection>        
    </brand>
    <brand>
        <name>VAPLO</name>
        <equals>Vaplo</equals>
        <website>http://www.vaplo.com/</website>
        <percent>10%</percent>
        <collection>
            <product name="Better Vape Saul Original">
                <youtubeReview>https://youtu.be/kbl55rWxfLw</youtubeReview>
            </product>
        </collection>          
    </brand>
    <brand>
        <name>TABACCHIFICIO 3.0</name>
        <equals>TABACCHIFICIO 3.0</equals>
        <equals>TABACCHIFICIO</equals>
        <website>https://www.estrattitabacchificio.it/</website>
        <percent>15%-20%</percent>
        <collection>
            <product name="Virginia Red">
                <youtubeReview>https://youtu.be/0VuwrBdp34c</youtubeReview>
            </product>
            <product name="Terroso Intenso">
                <youtubeReview>https://youtu.be/sy75HFDBt0M</youtubeReview>
            </product>
            <product name="Armoniosa Cremosa">
                <youtubeReview>https://youtu.be/oK0tcaM0Jco</youtubeReview>
            </product>
            <product name="Grand Point">
                <youtubeReview>https://youtu.be/zijuaRiHW28</youtubeReview>
            </product>
            <product name="Halfzware Shag">
                <youtubeReview>https://youtu.be/rW2cv3fwe9M</youtubeReview>
                <youtubeReview>https://youtu.be/gMHAbvkysRg</youtubeReview>
            </product>
        </collection>          
    </brand>
    <brand>
        <name>VAPOR CAVE</name>
        <equals>VAPOR CAVE</equals>
        <website>https://thevapinggentlemen.club/collections/vapor-cave</website>
        <percent>10%</percent>
        <collection>
            <product name="Navajo Rolling">
                <youtubeReview>https://youtu.be/XNNp8FQsKGI</youtubeReview>
            </product>
            <product name="Khymeia">
                <youtubeReview>https://youtu.be/FdjWBRs0DD4</youtubeReview>
            </product>
            <product name="Kent">
                <youtubeReview>https://youtu.be/ZwpQ8mhDnbk</youtubeReview>
            </product>
            <product name="Syrian Soul">
                <youtubeReview>https://youtu.be/N1O3baQGBes</youtubeReview>
            </product>
            <product name="Balkanika">
                <youtubeReview>https://youtu.be/pL4RR0HaYcQ</youtubeReview>
            </product>
            <product name="Rem">
                <youtubeReview>https://youtu.be/MB1fIrSR_2w</youtubeReview>
            </product>
            <product name="Sultan">
                <youtubeReview>https://youtu.be/3lUYnK6w_2I</youtubeReview>
            </product>
            <product name="Eastwood">
                <youtubeReview>https://youtu.be/cHKkS0XLhDM</youtubeReview>
            </product>
        </collection>          
    </brand>
    <brand>
        <name>STIXX MIXX</name>
        <equals>STIXX MIXX</equals>
        <website>https://www.stixxmixx.com/product-category/net-flavors/</website>
        <percent>15%-20%</percent>
        <collection>
            <product name="Latakia">
                <youtubeReview>https://youtu.be/HfVTfvP1XzE</youtubeReview>
            </product>
        </collection>          
    </brand>



    
    <shop name="All4Flavours" country="spain" currency="EUR">
        <baseUri>https://www.all4flavours.com/</baseUri>
        <uriRemoveStringAfter/>
        <!--<pricePlus>1.21</pricePlus>-->
        <find>
            <product>//article[contains(@class, 'product-miniature product-miniature-default product-miniature-grid')]</product>
            <name>.//h3[@class='h3 product-title']/a</name>
            <price>.//span[@class='product-price']</price>
            <uri>.//h3[@class='h3 product-title']/a</uri>
            <special>.//div[@class='product-price-and-shipping']/span[@class='regular-price text-muted']</special>
            <specialPrice>.//span[@class='product-price']</specialPrice>
            <noStock>.//li[@class='product-flag unavailable']</noStock>
            <hasReviews>.//div[@class='iqitreviews-simple']</hasReviews>
            <!-- Product Page -->
            <pPComments>//div[@class='comment' and @itemprop='reviewBody']</pPComments>            
        </find>
        <remove>-</remove>
        <remove>TPD</remove>
        <remove>Aroma</remove>
        <remove>Orgánico</remove>
        <remove>Microfiltrado</remove>
        <remove>10 ml</remove>
        <remove>10ml</remove>
        <remove>11 ml</remove>
        <remove>11ml</remove>
        <remove>20 ml</remove>     
        <remove>20ml</remove>     
        
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=1&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=2&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=3&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=4&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=5&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=6&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=7&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=8&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=9&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=10&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=11&order=product.name.asc]]></page>
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=12&order=product.name.asc]]></page>
    </shop>

    <shop name="VaporAviles" country="spain" currency="EUR">
        <baseUri>https://www.vaporaviles.com/</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//div[@class='col-inner']</product>
            <name>.//p[contains(@class, 'name product-title')]</name>
            <price>.//span[@class='price']</price>
            <uri>.//p[contains(@class, 'name product-title')]/a</uri>
            <special>.//span[@class='onsale']</special>
            <specialPrice>.//span[@class='price']/ins</specialPrice>
            <noStock>.//div[@class='out-of-stock-label']</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>              
        </find>
        <remove>–</remove>
        <remove>10ml</remove>
        <remove>11ml</remove>
        <remove>20ml</remove>
        <remove>Aroma</remove>
        <remove>Orgánico</remove>


        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/2/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/3/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/4/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/5/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/6/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/7/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/8/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/9/</page>
        <page name="ORGÁNICOS">https://www.vaporaviles.com/categoria-producto/alquimia/aromas/aromas-por-sabor/aromas-organicos/page/10/</page>
    </shop> 
   
    
    <shop name="Bulevar44.com" country="spain" currency="EUR">
        <baseUri>https://www.bulevar44.com</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//article/div[contains(@class, 'thumbnail-container')]</product>
            <name>.//div[@class='product-description']/p[@class='an_short_description']</name>
            <price>.//span[@class='money']</price>
            <uri>./a</uri>
            <special>.//a/ul/li[@class='product-flag on-sale']</special>
            <specialPrice>.//span[@class='money']</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>              
        </find>
        <remove>...</remove>
        <remove>,</remove>
        <remove>-</remove>
        <remove>Aroma</remove>
        <remove>Orgánico</remove>
        <remove>10ml</remove>
        <remove>11ml</remove>
        <remove>20ml</remove>
        <remove>Macerato</remove>
        <remove>Concentrado</remove>
        <remove>Microfiltrado</remove>
        <remove>Stratto di Tabacco</remove>
        <remove>Extracto de Tabaco</remove>
        <remove>Barrique Mixture</remove>
        <remove>Elite</remove>
        <remove>Evolution</remove>
        <remove>Organic</remove>
        <remove>Special Blend</remove>

        <page name="ORGANICOS"><![CDATA[https://www.bulevar44.com/11-aromas?q=Tipo-Aroma+Orgánico]]></page> 
    </shop>       
  

    <shop name="SinHumo-Sevilla" country="spain" currency="EUR">
        <baseUri>https://www.sinhumo-sevilla.com/</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//article/div[@class='thumbnail-container']</product>
            <name>.//div[@class='product-description']/h2/a</name>
            <price>.//div[contains(@class, 'product-price-and-shipping')]/span[@class='price']</price>
            <uri>.//a[@class='thumbnail product-thumbnail']</uri>
            <special>.//span[contains(@class, 'discount-percentage')]</special>
            <specialPrice>.//div[contains(@class, 'product-price-and-shipping')]/span[@class='price']</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>  
        </find>
        <remove>(Orgánico)</remove>
        <remove>Aroma</remove>
        <remove>by</remove>
        <remove>10ml</remove>
        <remove>20ml</remove>

        <page name="LA TABACCHERIA">https://www.sinhumo-sevilla.net/952-la-tabaccheria</page>
        <page name="ANGOLO DELLA GUANCIA">https://www.sinhumo-sevilla.net/1172-aromas-angolo-della-guancia</page>
    </shop> 
               
    <shop name="Gomariztore" country="spain" currency="EUR">
        <baseUri>https://gomarizstore.com/</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//article/div[@class='pro_outer_box clearfix home_default']</product>
            <name>.//div[@class='flex_box flex_start mini_name']/h3/a</name>
            <price>.//span[contains(@class, 'price')]</price>
            <uri>.//div[@class='flex_box flex_start mini_name']/h3/a</uri>
            <special>.//span[contains(@class, 'regular-price')]</special>
            <specialPrice>.//span[contains(@class, 'price')]</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>  
        </find>
        <remove>-</remove>
        <remove>10ml</remove>
        <remove>20ml</remove>       
        <remove>Aroma</remove>       
        <remove>AROMA</remove>       
        <remove>Organico Microfiltrato</remove>

        <page name="ANGOLO DELLA GUANCIA">https://gomarizstore.com/aromas-adg</page>
        <page name="LA TABACCHERIA">https://gomarizstore.com/aromas-la-tabaccheria</page>
    </shop>   

    <shop name="Sapporet" country="spain" currency="EUR">
        <baseUri>https://sapporet.es/</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//article[contains(@class, 'product-miniature')]/div[@class='product-container']</product>
            <name>./div[@class='second-block']/h5/a</name>
            <price>./div[@class='second-block']/div[@class='second-block-wrapper']//span[@class='price product-price']</price>
            <uri>./div[@class='second-block']/h5/a</uri>
            <special>./div[@class='second-block']/div[@class='second-block-wrapper']//span[@class='discount-product discount-percentage']</special>
            <specialPrice>./div[@class='second-block']/div[@class='second-block-wrapper']//span[@class='price product-price']</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>              
        </find>
        <remove>-</remove>
        <remove>(Aroma)</remove>
        <remove>Aroma</remove>
        <remove>10ml</remove>
        <remove>20ml</remove>
        <remove>Orgánico</remove>
        <remove>Estratto di Tabacco</remove>
        <remove>Special Blend</remove>

        <page name="ANGOLO DELLA GUANCIA">https://sapporet.es/aromas?q=Marca-Angolo+Della+Guancia</page>
        <page name="LA TABACCHERIA">https://sapporet.es/aromas?q=Marca-La+Tabaccheria</page>
    </shop>    

    <shop name="EsmokingSpain" country="spain" currency="EUR">
        <baseUri>https://www.esmokingspain.es</baseUri>
        <uriRemoveStringAfter>osCsid=</uriRemoveStringAfter>
        <!--<pricePlus>1.21</pricePlus>-->
        <find>
            <product>//div[@class='product-item']</product>
            <name>.//div[@class='body']/div[@class='title']/a</name>
            <price>.//div[@class='prices']/div[contains(@class, 'price-current')]</price>
            <uri>.//div[@class='body']/div[@class='title']/a</uri>
            <special>.//div[@class='prices']/div[@class='price-prev']</special>
            <specialPrice>.//div[@class='prices']/div[contains(@class, 'name product-title')]</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='iqitreviews-simple']</hasReviews>
            <!-- Product Page -->
            <pPComments>//div[@class='comment' and @itemprop='reviewBody']</pPComments>            
        </find>
        <remove>10ml</remove>
        <remove>20ml</remove>
        <remove>Aroma</remove>
        <remove>Orgánico</remove>
        <remove>Estratto Di Tobacco</remove>
        <remove>Barrique</remove>
        <remove>Miscela</remove>
        <remove>Elite</remove>
        <remove>Special Blend</remove>
        <remove>Selezione Premium</remove>
        
        <removeRegex>\(.*\)</removeRegex>
        
        <page name="LA TABACCHERIA"><![CDATA[https://www.esmokingspain.es/tabaccheria-m-344.html?page=1&language=es]]></page>
        <page name="LA TABACCHERIA"><![CDATA[https://www.esmokingspain.es/tabaccheria-m-344.html?page=2&language=es]]></page>
        <page name="ADG"><![CDATA[https://www.esmokingspain.es/angolo-della-guancia-m-458.html?page=1&language=es]]></page>
        <page name="ADG"><![CDATA[https://www.esmokingspain.es/angolo-della-guancia-m-458.html?page=2&language=es]]></page>
        
    </shop>             
     
    <shop name="Smo-kingshop.it" country="italy" currency="EUR">
        <baseUri>https://www.smo-kingshop.it</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//article[contains(@class, 'product-miniature product-style js-product-miniature')]/div[@class='product-container']</product>
            <name>.//div[@class='second-block']/h5//a</name>
            <price>.//div[@class='price-and-status']//div[contains(@class, 'first-prices')]</price>
            <uri>.//div[@class='second-block']/h5//a</uri>
            <special>.//span[@class='regular-price']</special>
            <specialPrice>.//div[@class='price-and-status']//div[contains(@class, 'first-prices')]</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>             
        </find>
        <remove>10 ml</remove>
        <remove>10ml</remove>
        <remove>11 ml</remove>
        <remove>11ml</remove>
        <remove>20 ml</remove>
        <remove>Aroma</remove>
        <remove>Liquido Pronto Nicotina</remove>
        <remove>Macerato</remove>
        <remove>Azhad Non Filtrati</remove>
        <remove>Miscele</remove>
        <remove>Tabacco</remove>
        <remove>Concentrato</remove>
        <remove>Pure</remove>
        <remove>TIZZATI</remove>
        <remove>Linea Elite</remove>
        <remove>Special Blend</remove>
        <remove>Barrique</remove>

        
        <page name="AZHAD´S ELIXIRS">https://www.smo-kingshop.it/it/196-azhad-s</page>
        <page name="AZHAD´S ELIXIRS">https://www.smo-kingshop.it/it/129-azhad-s</page>
        <page name="LA TABACCHERIA">https://www.smo-kingshop.it/it/1593-la-tabaccheria-liquido-pronto</page>
        <page name="LA TABACCHERIA">https://www.smo-kingshop.it/it/109-la-tabaccheria</page>
        <page name="THE VAPING GENTLEMEN CLUB">https://www.smo-kingshop.it/it/1801-the-vaping-gentlemen-club</page>
        <page name="THE VAPING GENTLEMEN CLUB">https://www.smo-kingshop.it/it/brand/79-vapor-cave</page>  
    </shop> 

    <shop name="TisVapo" country="italy" currency="EUR">
        <baseUri>https://www.tisvapo.it/</baseUri>
        <uriRemoveStringAfter/>
        <find>
            <product>//li/div[@class='inner clearfix']</product>
            <name>.//div[@class='product-details']/a/h2</name>
            <price>.//div[@class='product-details']/span[@class='price']</price>
            <uri>.//div[@class='product-details']/a</uri>
            <special>.//div[@class='product-details']/span[@class='price']/ins</special>
            <specialPrice>.//div[@class='product-details']/span[@class='price']</specialPrice>
            <noStock>.//span[contains(@class, 'availability-list-out-of-stock')]</noStock>
            <hasReviews>.//div[@class='star-rating']</hasReviews>
            <!-- Product Page -->
            <pPComments>//ol[@class='commentlist']/li//div[@class='description']</pPComments>             
        </find>   
        <remove>–</remove>    
        <remove>3.0</remove>
        <remove>da</remove>
        <remove>.</remove>
        <remove>10ml</remove>
        <remove>11ml</remove>
        <remove>20ml</remove>
        <remove>Aroma</remove>
        <remove>Orgánico</remove>
        <remove>My Way</remove>
        <remove>Non Filtrati</remove>
        <remove>Linea Elite</remove>
        <remove>concentrato</remove>

        <page name="AZHAD´S ELIXIRS">https://www.tisvapo.it/aromi/azhads-elixir/?count=500</page>
        <page name="ANGOLO DELLA GUANCIA">https://www.tisvapo.it/aromi/angolo-della-guancia/?count=500</page>
        <page name="BLENDFEEL">https://www.tisvapo.it/aromi/blendfeel/?count=500</page>
        <page name="CLAMOUR VAPE">https://www.tisvapo.it/aromi/clamour-vape/?count=500</page>
        <page name="LA TABACCHERIA">https://www.tisvapo.it/aromi/la-tabaccheria/?count=500</page>
        <page name="TABACCHIFICIO">https://www.tisvapo.it/aromi/tabacchificio-3-0/?count=500</page>
        <page name="THE VAPING GENTLEMEN CLUB">https://www.tisvapo.it/aromi/the-vaping-gentlemen-club/?count=500</page>
        <page name="THE VAPING GENTLEMEN CLUB">https://www.tisvapo.it/aromi/vapor-cave/?count=500</page>
         
    </shop>           
 

    <!--
    <shop name="Nomnomz" country="uk" currency="GBP">
        <baseUri>https://www.nomnomz.co.uk/</baseUri>
        <find>
            <product>//article[@class='item-box product-box']/div[@class='box-data grid']</product>
            <name>./h3[@class='item-heading']/a</name>
            <price>./span[@class='price']</price>
            <uri>./h3[@class='item-heading']/a</uri>
            <special>./span[@class='price price-sale']</special>
            <specialPrice>./span[@class='price']</specialPrice>
        </find>
        <remove>-</remove>
        <page name="STIXX MIXX"><![CDATA[https://www.nomnomz.co.uk/stixx-mixx-net-1?page=1]]></page>
        <page name="STIXX MIXX"><![CDATA[https://www.nomnomz.co.uk/stixx-mixx-net-1?page=2]]></page>
    </shop>  
    -->

</root>