<?xml version="1.0" encoding="UTF-8"?>
<!--
https://www.w3schools.com/xml/xpath_intro.asp
https://www.countryflags.com/en/italy-flag-icon.html
Brands -> Son las marcas por defecto, donde se buscará en los nombres de los
productos. Si no encuentra ninguna de estas (los equivalentes) entonces pone como
marca el que esté por defecto en el tag <page name="MARCA">. Además elimina la
marca del nombre si la encuentra.
find->product ACABAR EN UN DIV
find->name ACABAR EN UN ELEMENT (NO DIV, ARTICLE, PAGE)
find->price ACABAR EN UN ELEMENT
find->uri ACABAR EN UN ANCHOR
find->special ACABAR EN UN ELEMENT (NO DIV, ARTICLE, PAGE)
Existe la posibilidad de usar dentro de shop el tag <pricePlus>1.21</pricePlus> para añadir
un multiplo al precio por si la tienda pone el producto sin iva por ejemplo.
-->


<root> 
    <brand>
        <name>ANGOLO DELLA GUANCIA</name>
        <equals>Angolo della Guancia</equals>        
        <equals>Angolo dela Guancia</equals>
        <equals>Angolo Della Guancia</equals>
        <equals>ADG</equals>
    </brand>
    <brand>
        <name>AZHAD´S ELIXIRS</name>
        <equals>Azhad´s Elixir</equals>
        <equals>Azhad’s Elixirs</equals>
        <equals>AZHAD’S ELIXIRS</equals>
        <equals>Azhad's Elixirs</equals>
        <equals>Azhad Elixirs</equals>
        <equals>AZHAD´S ELIXIR</equals>
        <equals>AZHAD´S ELIXIRS</equals>
    </brand>
    <brand>
        <name>BLENDFEEL</name>
        <equals>BLENDFEEL</equals>
    </brand>
    <brand>
        <name>CLAMOUR VAPE</name>
        <equals>CLAMOUR VAPE</equals>
    </brand>
    <brand>
        <name>LA TABACCHERIA</name>
        <equals>LA TABACCHERIA</equals>
        <equals>La Tabacchedria</equals>
    </brand>
    <brand>
        <name>THE VAPING GENTLEMEN CLUB</name>
        <equals>The Vaping Gentlemen Club</equals>
    </brand>
    <brand>
        <name>VAPLO</name>
        <equals>Vaplo</equals>
    </brand>
    <brand>
        <name>HERRERA E-LIQUID</name>
        <equals>Herrera E-liquid</equals>
        <equals>Herrera</equals>
    </brand>
    <brand>
        <name>TABACCHIFICIO 3.0</name>
        <equals>TABACCHIFICIO 3.0</equals>
        <equals>TABACCHIFICIO</equals>
    </brand>
    <brand>
        <name>VAPOR CAVE</name>
        <equals>VAPOR CAVE</equals>
    </brand>
    
    
    <shop name="All4Flavours" country="spain">
        <baseUri>https://www.all4flavours.com/</baseUri>
        <!--<pricePlus>1.21</pricePlus>-->
        <find>
            <product>//article/div[@class='product-description']</product>
            <name>.//h3[@class='h3 product-title']/a</name>
            <price>.//span[@class='product-price']</price>
            <uri>.//h3[@class='h3 product-title']/a</uri>
            <special>.//div[@class='product-price-and-shipping']/span[@class='regular-price text-muted']</special>
            <specialPrice>.//span[@class='product-price']</specialPrice>
        </find>
        <remove>-</remove>
        <remove>TPD</remove>
        
        <page name="ORGÁNICOS"><![CDATA[https://www.all4flavours.com/3-concentrados-vapeo/s-8/tipo_de_sabor-extracto_organico?page=1&order=product.name.asc]]></page>
    </shop>


    <!--        POR COMO TIENEN LA WEB PROGRAMADA NO LOS PUEDO PONER PORQUE TENDRÍA QUE CAMBIAR MUCHO CÓDIGO
    <shop name="Esmokingspain" country="spain">
        <baseUri>https://www.esmokingspain.es/</baseUri>
        <find>
            <product>//div[contains(@class, 'product-item-holder')]/div[@class='product-item']</product>
            <name>.//div[@class='title']/a</name>
            <price>.//div[contains(@class, 'price-current')]</price>
            <uri>.//div[@class='title']/a</uri>
            <special>.//div[contains(@class, 'price-prev')]</special>
        </find>
        <remove>by</remove>
        <page name="LA TABACCHERIA">https://www.esmokingspain.es/-c-596_546.html</page>
        <page name="LA TABACCHERIA">https://www.esmokingspain.es/tabaccheria-10ml-c-25_467.html</page>
        <page name="LA TABACCHERIA">https://www.esmokingspain.es/tabaccheria-10ml-c-25_467.html?page=2</page>
    </shop>     
    -->
</root>
